


#clockContainer{
    width: 40vw;
    height: 70vh;
    background: url('clock.png') no-repeat center;
   /* border: 2px solid red;*/
    margin: auto;
}

#hour,#minutes,#seconds{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{
    height: 13%;
    width: 0.5%;
    top: 153px;
    left: 49.81%;
    opacity: 0.8;
}

#minutes{
    top: 118px;
    height: 18%;
    width: 0.5%;
    left: 49.81%;
    opacity: 0.8;
}

#seconds{
    height: 20%;
    width: 0.2%;
    top: 106px;
    left: 49.85%; 
    opacity: 0.8;
}

